doctype html
html(lang="en")
    head
        title Page title
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="description" content="")
        meta(name="author" content="")
        link(rel="stylesheet" href="css/bootstrap/bootstrap-theme.css")
        link(rel="icon" href="favicon.ico")
    body
        .container-fluid


            nav.navbar.navbar-expand-lg.navbar-dark
                a.navbar-brand.d-lg-none(href="#") Moja Global
                button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navigations-02")
                    span.navbar-toggler-icon
                #navigations-02.collapse.navbar-collapse.justify-content-md-center
                    .row.w-100
                        .col-4.pl-lg-0
                            ul.navbar-nav
                                li.nav-item
                                    a.nav-link.active(href="#")
                                        | Projects
                                        span.sr-only (current)
                                li.nav-item
                                    a.nav-link(href="#") Resources
                                li.nav-item
                                    a.nav-link(href="#") Contact
                        .col-4.navbar-nav.text-center.pr-0.d-none.d-lg-block
                            a.navbar-brand.mr-0(href="#") Moja Global
                        .col-4.pr-lg-0
                            ul.navbar-nav.justify-content-end
                                li.nav-item
                                    a.nav-link(href="#") Open Source programs
                                li.nav-item
                                    a.nav-link(href="#") Issues
                                li.nav-item
                                    a.nav-link(href="#") FAQs


            section.py-5
                .container.text-center
                    strong Moja Global
                    h1.display-4.my-3 Developer Community
                    a.btn.btn-link.my-2(href="#") Explore our programs

            section.py-5
                .container.text-center
                    h3.mb-4 All set to contribute?
                    p.lead Climate change needs quick combat
                    a.btn.btn-primary.mt-2(href="#") Join our Slack

            section.py-5
                .container.text-center
                    h2.mb-3 Open Source Programs
                    .row.mb-3
                        .col-md-4.p-2.py-3
                            img.img-fluid.mx-auto.my-4(src="https://shuffle.dev/placeholder/pictures/bg_16-9.svg?primary=007bff", alt="")
                            h4.my-4 #[small.rounded-circle.px-3.py-2.mr-2.bg-primary 1] Community Bridge
                            p Lorem ipsum belur mat dolar sit amet
                        .col-md-4.p-2.py-3
                            img.img-fluid.mx-auto.my-4(src="https://shuffle.dev/placeholder/pictures/bg_16-9.svg?primary=007bff", alt="")
                            h4.my-4 #[small.rounded-circle.px-3.py-2.mr-2.bg-primary 2] Google Summer of Code
                            p Lorem ipsum belur mat dolar sit amet
                        .col-md-4.p-2.py-3
                            img.img-fluid.mx-auto.my-4(src="https://shuffle.dev/placeholder/pictures/bg_16-9.svg?primary=007bff", alt="")
                            h4.my-4 #[small.rounded-circle.px-3.py-2.mr-2.bg-primary 3] Google Season of Docs
                            p Lorem ipsum belur mat dolar sit amet

                    a.btn.btn-primary(href="#") Check out our Github

            section.py-5
                .container.text-center
                    h2 How to start contributing?
                    .row
                        .col-md-4.mt-5
                            img.rounded-circle.mb-4(src="https://shuffle.dev/placeholder/pictures/bg_circle.svg?primary=007bff", alt="", height="100", width="100")
                            p.mb-4 Take up a first time issue
                            p.mb-0 Lorem
                            p.text-muted Ipsum
                        .col-md-4.mt-5
                            img.rounded-circle.mb-4(src="https://shuffle.dev/placeholder/pictures/bg_circle.svg?primary=007bff", alt="", height="100", width="100")
                            p.mb-4 Help others take their first step
                            p.mb-0 Lorem
                            p.text-muted Ipsum
                        .col-md-4.mt-5
                            img.rounded-circle.mb-4(src="https://shuffle.dev/placeholder/pictures/bg_circle.svg?primary=007bff", alt="", height="100", width="100")
                            p.mb-4 Create a beginner friendly issue for someone else
                            p.mb-0 Lorem
                            p.text-muted Ipsum

            section.py-5
                .container.text-center
                    h2 Contributors
                    p.mb-5 Folks striving for a change

                    .row
                        .col-md-9.mx-auto
                            .row.justify-content-center
                                .col-md-4.col-lg-3.mb-4
                                    img.mb-3.rounded-circle(src="https://shuffle.dev/placeholder/pictures/bg_circle.svg?primary=007bff", height="90", alt="")
                                    h6.mb-0 John Doe
                                    small CEO
                                .col-md-4.col-lg-3.mb-4
                                    img.mb-3.rounded-circle(src="https://shuffle.dev/placeholder/pictures/bg_circle.svg?primary=007bff", height="90", alt="")
                                    h6.mb-0 Jane Doe
                                    small COO
                                .col-md-4.col-lg-3.mb-4
                                    img.mb-3.rounded-circle(src="https://shuffle.dev/placeholder/pictures/bg_circle.svg?primary=007bff", height="90", alt="")
                                    h6.mb-0 John Doe
                                    small CFO
                                .col-md-4.col-lg-3.mb-4
                                    img.mb-3.rounded-circle(src="https://shuffle.dev/placeholder/pictures/bg_circle.svg?primary=007bff", height="90", alt="")
                                    h6.mb-0 Jane Doe
                                    small Marketing Manager
                                .col-md-4.col-lg-3.mb-4
                                    img.mb-3.rounded-circle(src="https://shuffle.dev/placeholder/pictures/bg_circle.svg?primary=007bff", height="90", alt="")
                                    h6.mb-0 John Doe
                                    small Chief Systems Architect
                                .col-md-4.col-lg-3.mb-4
                                    img.mb-3.rounded-circle(src="https://shuffle.dev/placeholder/pictures/bg_circle.svg?primary=007bff", height="90", alt="")
                                    h6.mb-0 Jane Doe
                                    small Senior Programmer
                                .col-md-4.col-lg-3.mb-4
                                    img.mb-3.rounded-circle(src="https://shuffle.dev/placeholder/pictures/bg_circle.svg?primary=007bff", height="90", alt="")
                                    h6.mb-0 John Doe
                                    small Majority Investor


            section.py-5
                .container
                    h2.mb-5.text-center Beginner Friendly Issue List
                    .row
                        .col-md-3.mb-4
                            h5 TSC Markdown
                            p Lorem Ipsum
                            a(href="#", role="button") Check GIthub
                        .col-md-3.mb-4
                            h5 Contributor website
                            p Lorem ipsum
                            a(href="#", role="button") Check GIthub
                        .col-md-3.mb-4
                            h5 FLINT MoM
                            p Lorem ipsum
                            a(href="#", role="button") Check GIthub
                        .col-md-3.mb-4
                            h5 Finalize workflow
                            p Lorem ipsum
                            a(href="#", role="button") Check GIthub

            section.py-5
                .container
                    h2.mb-5.text-center Frequently Asked Questions
                    .accordion(id="faq-01")
                        .mb-2.border-bottom
                            h5(id="faq-heading1-01")
                                button.btn.btn-link.btn-block.text-left.d-flex(type="button", data-toggle="collapse", data-target="#faq-collapse1-01", aria-expanded="false", aria-controls="faq-collapse1-01", style="white-space:normal !important; word-wrap: break-word") Lorem ipsum
                                    img.p-1.ml-auto.my-auto(src="placeholder/icons/chevron-circle-down.svg", alt="")
                            .collapse(id="faq-collapse1-01", aria-labelledby="faq-heading1-01", data-parent="#faq-01")
                                p Lorem
                        .mb-2.border-bottom
                            h5(id="faq-heading2-01")
                                button.btn.btn-link.btn-block.text-left.d-flex(type="button", data-toggle="collapse", data-target="#faq-collapse2-01", aria-expanded="false", aria-controls="faq-collapse2-01", style="white-space:normal !important; word-wrap: break-word") Lorem ipsum
                                    img.p-1.ml-auto.my-auto(src="placeholder/icons/chevron-circle-down.svg", alt="")
                            .collapse(id="faq-collapse2-01", aria-labelledby="faq-heading2-01", data-parent="#faq-01")
                                p Lorem
                        .mb-2.border-bottom
                            h5(id="faq-heading3-01")
                                button.btn.btn-link.btn-block.text-left.d-flex(type="button", data-toggle="collapse", data-target="#faq-collapse3-01", aria-expanded="false", aria-controls="faq-collapse3-01", style="white-space:normal !important; word-wrap: break-word") Lorem ipsum
                                    img.p-1.ml-auto.my-auto(src="placeholder/icons/chevron-circle-down.svg", alt="")
                            .collapse(id="faq-collapse3-01", aria-labelledby="faq-heading3-01", data-parent="#faq-01")
                                p Lorem
                        .mb-2.border-bottom
                            h5(id="faq-heading4-01")
                                button.btn.btn-link.btn-block.text-left.d-flex(type="button", data-toggle="collapse", data-target="#faq-collapse4-01", aria-expanded="false", aria-controls="faq-collapse4-01", style="white-space:normal !important; word-wrap: break-word") Lorem ipsum
                                    img.p-1.ml-auto.my-auto(src="placeholder/icons/chevron-circle-down.svg", alt="")
                            .collapse(id="faq-collapse4-01", aria-labelledby="faq-heading4-01", data-parent="#faq-01")
                                p Lorem
                        .mb-2.border-bottom
                            h5(id="faq-heading5-01")
                                button.btn.btn-link.btn-block.text-left.d-flex(type="button", data-toggle="collapse", data-target="#faq-collapse5-01", aria-expanded="false", aria-controls="faq-collapse5-01", style="white-space:normal !important; word-wrap: break-word") Lorem ipsum
                                    img.p-1.ml-auto.my-auto(src="placeholder/icons/chevron-circle-down.svg", alt="")
                            .collapse(id="faq-collapse5-01", aria-labelledby="faq-heading5-01", data-parent="#faq-01")
                                p Lorem
                        .mb-2.border-bottom
                            h5(id="faq-heading6-01")
                                button.btn.btn-link.btn-block.text-left.d-flex(type="button", data-toggle="collapse", data-target="#faq-collapse6-01", aria-expanded="false", aria-controls="faq-collapse6-01", style="white-space:normal !important; word-wrap: break-word") Lorem ipsum
                                    img.p-1.ml-auto.my-auto(src="placeholder/icons/chevron-circle-down.svg", alt="")
                            .collapse(id="faq-collapse6-01", aria-labelledby="faq-heading6-01", data-parent="#faq-01")
                                p Lorem

            footer.py-3
                .container
                    .d-flex.justify-content-between.align-items-center.flex-column.flex-md-row.border-bottom.pb-2
                        h5.ml-0.ml-md-3.mb-0
                            a(href="#") Moja Global
                        ul.nav.justify-content-center
                            li.nav-item
                                a.nav-link(href="#") Projects
                            li.nav-item
                                a.nav-link(href="#") About
                            li.nav-item
                                a.nav-link(href="#") Resources
                            li.nav-item
                                a.nav-link(href="#") Contact
                    .d-flex.justify-content-center.align-items-center.justify-content-md-between.flex-column.flex-md-row.mx-3.mt-3
                        .d-flex
                            a(href="#")
                                img.mr-3(src="placeholder/icons/twitter.svg", alt="")
                            a(href="#")
                                img.mr-3(src="placeholder/icons/facebook-f.svg", alt="")
                            a(href="#")
                                img(src="placeholder/icons/instagram.svg", alt="")
                        .d-flex.mt-3.mt-md-0
                            p.mb-0.small.text-muted © 2021 Moja Global. All right reserved.

        script(src="js/jquery/jquery.min.js")
        script(src="js/popper/popper.min.js")
        script(src="js/bootstrap/bootstrap.min.js")
