$body-bg: #212324;
$body-color: #fff;
$text-muted: #fff;
$enable-shadows: true;
$enable-gradients: true;
$black: #000;
$box-shadow: 0 .5rem 1rem rgba($black, .15);
$white: #fff;
$box-shadow-sm: 0 .125rem .25rem rgba($black, .075);
$box-shadow-lg: 0 1rem 3rem rgba($white, .175);
$component-active-color: $black;
$green: #28a745;
$success: $green;
$gray-100: #f8f9fa;
$light: $gray-100;
$indigo: #6610f2;
$cyan: #17a2b8;
$info: $cyan;
$link-color: $info;
$pink: #e83e8c;
$blue: #007bff;
$primary: $blue;
$component-active-bg: $primary;
